# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
/.idea
/out
/target
/Java-Practice.iml
.classpath
.project
/com.trainstatus.model.iml
/com.trainstatus.service.iml
/com.trainstatus.ui.iml
/EasyRentals.iml
/EasyRentalsModel.iml
/EasyRentalsService.iml
/EasyRentalsServiceImpl.iml
/EasyRentalsUi.iml
/InfyBank.iml
/TrainAnnouncement.iml
